/* .mockup {
width: 332px;
height: 516px;
position: absolute;
top: 0;
left: 0;
opacity: 0.5;
z-index: 10;
pointer-events: none;
} */
.container {
    display: block;
    position: absolute;
    background-color: #468df0;
    width: calc(332px - 14px - 44px); 
    height: calc(516px - 14px - 22px);
    position: absolute;
    top: 0;
    left: 0;
    border: 7px solid #eeeeee;
    padding: 22px 22px 0 22px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin-top: 9px;
    margin-bottom: 0;
}
h1, p, hr, h2, table {
    color: #dae6fc;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 2px;
}
hr {
    margin: 0;
}
.amount-users {
    color: #fafcff;
}
.amount-views img {
    width: 272px;
    margin-top: 23.5px;
}
table {
    margin-top: 18.5px;
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid white;
    border-collapse: collapse;

}
th {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    vertical-align: top;
}
th.left {
    text-indent: -1px;
}
td.right {
    padding-right: 4px;
}
th{
    height: 17px;
}
td {
    height: 26.5px;
}
td {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-indent: 4.5px;
}
tr:last-child {
    border-bottom: 0;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.navbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 318px;
    height: 38px;
    text-align: right;
    border-top: 1px solid white;
}
.navbar a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.65px;
    margin: 10px 0;
}
.navbar img {
    display: inline-block;
    margin: auto 22px auto 18px;
}